/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

::selection {
    color: white;
    background-color: #0DA487;
}

.clr-green {
    color: #0DA487;
}

.clr-gray {
    color: gray;
}

.clr-yellow {
    color: #FDC353;
}

.border-radius-10 {
    border-radius: 10px;
}

.pad-10 {
    padding: 10px;
}

.bg-gray {
    background-color: #F8F8F8;
}

.bg-red {
    background-color: #FF5151;
}

.fnt-weight {
    font-weight: bolder;
}

.fnt-size-10 {
    font-size: 10px;
}

.fnt-size-15 {
    font-size: 15px;
}

.fnt-size-20 {
    font-size: 20px;
}

.fnt-size-25 {
    font-size: 25px;
}

.fnt-size-30 {
    font-size: 30px;
}

.tt-cap {
    text-transform: capitalize;
}


.header1 {
    color: white;
    text-transform: capitalize;
    background-color: #0DA487;
}

.header1 .row {
    padding: 10px 0px;
}

.header1 a {
    color: white;
    padding: 0px 10px;
}

.header2 {
    /* margin-top: 40px; */
    padding: 20px;
    top: 0px;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(201, 194, 194);
}

.header2 img {
    padding-top: 15px;
}

.header2 .search span {
    background-color: #FFA53B;
    color: white;
}

.header2 .icon i {
    font-size: 20px;
    padding: 20px 15px 0px 15px;
    border-right: 1px solid black;
}

.header2 input {
    padding: 20px;
}

.header3 {
    /* background-color: gray; */
    text-transform: capitalize;
    margin-top: 10px;
}
.categories .sub-cate{
    background-color: red;
} 
.categories .sub-cate ul{
list-style-type: none;
}
.categories .sub-cate li{
    background-color: gray;
    padding: 10px;
    margin: 2px;
}
.categories .sub-cate li a{
    width: 200px;
    background-color: #0B866E;
}
.header3 .navbar-brand {
    background-color: #0DA487;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
    color: white !important;
    text-align: center;
    font-weight: bolder;
}

.header3 .home {
    margin-left: 50px;
}

.header3 a {
    color: black;
}

.header3 a:hover {
    text-decoration: none;
    color: #0DA487;
}

.header3 .dropdown-toggle {
    /* background-color: gray; */
    margin: 13px;
    font-size: 18px;
}

.header3 .contact {
    margin: 13px;
    font-size: 18px;
}

.header3 .mega-menu {
    background-color: gray;
}

.chager {
    color: #0DA487;
    background-color: #E7F6F3;
    padding: 10px;
    font-size: 30px;
    border-radius: 4px;
    margin-left: 100px;
}

.shop {
    margin-top: 20px;
    /* background-color: red; */
}

.shop-now-all {
    padding: 10px;
    background-color: red;
}

.shop .shop1 {
    border-radius: 10px;
    background: url(../img/12.jpg);
    width: 100%;
    background-size: cover;
    padding: 50PX;
}

.shop .shop1 h1 {
    font-size: 35px;
}

.shop .shop1 p {
    color: gray;
    font-family: arial;
}

.shop .shop1 button {
    border: none;
    background-color: #FF6868;
    color: white;
    font-size: 18px;
    font-weight: bolder;
    padding: 10px 25px;
    border-radius: 5px;
    text-transform: capitalize;
}

.shop .shop1 button i {
    padding-left: 15px;
}

.shop .shop2 {
    padding: 15px;
}

.shop .shop3 {
    /* margin-left: 10px; */
    border-radius: 30px;
    background: url(../img/2.jpg);
    background-size: cover;
    width: 100%;
    padding: 30px;
}

.shop .shop3 h1 {
    font-size: 25px;
}

.shop .shop3 h3 {
    font-size: 22px;
    color: #0DA487;
}

.shop .shop4 {
    background: url(../img/26.jpg);
    background-size: cover;
    border-radius: 30px;
    padding: 30px;
    margin-top: 20px;
}

.shop .shop4 h1 {
    font-size: 25px;
}

.shop .shop4 h3 {
    font-size: 22px;
    font-weight: bolder;
    color: #0DA487;
}

.shop .shop4 h4 {
    color: #FF6868;
    font-size: 20px;
}

.shop-now .shop-now-all {
    /* background-color: gray; */
    background-size: cover;
    border-radius: 5px;
    /* margin: 10px; */
    margin-top: 40px;
    padding: 30px;
}

.shop-now .egg {
    background: url(../img/4.jpg) !important;
}

.shop-now .text {
    background-color: white;
    width: 220px;
    border-radius: 0pc 40px 40px 0px;
}

.shop-now .vegetables {
    background: url(../img/5.jpg);
}

.shop-now .meat {
    background: url(../img/6.jpg);
}

.shop-now .nuts {
    background: url(../img/72.jpg);
}

.today {
    margin-top: 40px;
}

.today .Category {
    background-color: #F8F8F8;
    border-radius: 5px;
    /* height: 700px; */
}

.today h3 {
    padding: 15px 0px;
    /* background-color: red; */
    font-size: 22px;
    margin-top: 10px;
}

.today .Category img {
    width: 20px;
}

.today .Category ul {
    list-style: none;
}

.today ul li {
    /* background-color: gray; */
    margin: 25px;
    text-transform: capitalize;
    font-size: 18px;
}

.today .Category ul a {
    /* background-color: gray; */
    color: black;
    margin-left: 20px;
    text-decoration: none;
}

.top-save .card {
    padding-top: 10px;
    font-size: 15px;
    min-height: 350px;
    /* background-color: red; */
}

.top-save .card-body h5 {
    font-size: 15px;
}

.top-save .card-body .btn {
    background-color: #F8F8F8;
    border-radius: 30px;
    width: 100%;
}

.top-save .card-body i {
    background-color: white;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.vegetable-all a {
    text-transform: capitalize;
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.vegetable-all {
    margin: 10px;
    background: #ddd;
    transition: background 1s;
}

.slider .vegetable-all:hover {
    background: url('../img/15.jpg');
}

.slider .vegetable-all:hover a {
    color: white;
    text-decoration: none;
}

.testy {
    background: url(../img/92.jpg);
    /* margin-top: 70px; */
}

.fresh {
    /* margin-top: 70px; */
    background: url(../img/10.jpg);
}

.testy-all {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10px;
    border-radius: 5px;
}

.btn-shop {
    font-size: 17px;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    text-transform: capitalize;
}

.testy-all i {
    padding-left: 8px;
}

.products {
    /* background-color: gray; */
    margin-top: 70px;
}

.products .frh-prod {
    /* background-color: gray; */
    background: url(../img/82.jpg);
    min-height: 620px;
    padding: 30px;
    margin-right: 10px;
    border-radius: 10px;
    background-size: cover;
}

.products .frh-prod .prod-text {
    /* background-color: red; */
    font-size: 25px;
}

.food-contain {
    /* background-color: red; */
    margin-top: 50px;
}

.food-img {
    /* background-color: red; */
    border: none;
}

.food-img .card {
    border-radius: 10px;
    min-height: 300px;
    padding-top: 10px;
    font-size: 15px;
}

.food-img .card-body h5 {
    font-size: 15px;
}

.food-img .card-body .btn {
    background-color: #F8F8F8;
    border-radius: 30px;
    width: 100%;
}

.food-img .card-body i {
    background-color: white;
    border-radius: 25px;
    width: 25px;
    height: 25px;
    line-height: 25px;
}

.frh-vegetable {
    /* background-color: red; */
    margin-top: 50px;
}

.frh-vegetable .frh-veg {
    /* background-color: gray; */
    background: url(../img/11.jpg);
    min-height: 900px;
    padding: 30px;
    margin-right: 10px;
    border-radius: 10px;
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-position: bottom;
}

.frh-vegetable .frh-veg .veg-text {
    /* background-color: red; */
    font-size: 25px;
}

.frh2-veg {
    /* background-color: gray; */
    border-radius: 10px;
    margin-top: 40px;
    padding: 25px;
    /* border: 1px solid gray; */
}

.frh2-veg img {
    padding: 25px 20px;
}

.veg-img {
    background: url(../img/15.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.veg-text2 {
    padding: 20px;
    text-align: center;
    color: white;
    /* font-weight: bolder!important; */

}

.veg-text2 button {
    border: 2px dashed white;
    background-color: #0B866E;
    padding: 8px 12px;
    color: white;
    margin-top: 10px;
}

.veg-img3 {
    background: url(../img/122.jpg);
    background-size: cover;
    border-radius: 10px;
}

.veg-text3 {
    margin-top: 40px;
    padding: 20px;
}

.veg-text3 h2 {
    color: #0DA487;
    font-family: cursive;
}

.veg-text3 p {
    font-size: 15px;
}

.veg-img4 {
    background: url(../img/13.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.veg-text4 {
    padding: 20px;
    margin-top: 40px;
}

.veg-text4 h2 {
    font-family: cursive;
    color: #FF5151;
    text-transform: capitalize;
}

.best-seller-contain {
    margin-top: 40px;
}

.seller {
    /* background-color: red; */
    border-radius: 10px;
    border: 1px solid gray;
    padding: 30px;
}

.seller img {
    padding: 10px;
    /* width: 100%; */
}

.seller-text {
    /* background-color: gray; */
    border-bottom: 1px dashed gray;
    padding: 20px;
}

.seller-text h5 {
    font-size: 15px;
    text-transform: capitalize;
}

.seller-text p {
    color: gray;
    font-size: 15px;
    margin-bottom: 0px;
}

.summer {
    background-image: url(../img/14.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 10px;
}

.summer-text {
    /* background-color: gray; */
    text-align: center;
    margin-top: 30px;
    padding: 30px;
}

.summer-text h6 {
    letter-spacing: 10px;
}

.summer-text h1 {
    text-transform: uppercase;
}

.blog {
    /* background-color: gray; */
    margin-top: 40px;
}

.customer {
    /* background-color: red; */
    border-radius: 10px;
    padding: 15px;
}

.customer-text h5 {
    /* background-color: gray; */
    padding: 20px 0px;
}

.customer-text h6 {
    /* font-weight: bold; */
    font-size: 20px;
    padding-bottom: 10px;
}

.customer-text p {
    word-spacing: 2px;
}

.customer-text img {
    width: 80px;
    height: 80px;
    border-radius: 80px;
}

.customer-text img:hover {
    border-radius: 10px;
    transition: 0.5s;
}

.customer-text .img {
    margin-top: 40px;
}

.customer-text .img-text {
    padding-top: 15px;
}

.blog-contain {
    /* margin-top: 10px; */
}

.img-hover {
    /* margin: 10px!important; */
    /* background-color: red; */
    overflow: hidden;
    height: 270px;
    border-radius: 10px;
}

.blog .img2 img {
    border-radius: 10px;
    width: 100%;
}

.blog .img2:hover img {
    transform: rotate(5deg) scale(1.1);
    transition: 1s;
}

.blog .img2 .img2-text {
    margin-top: 15px;
}

footer .banner {
    background-image: url(../img/Carousel+Banner+RGB.jpg);
    color: white;
    margin-top: 40px;
    padding: 50px;
}

.banner-text {
    text-align: center;
}

footer .btn-subcribe {
    border: none;
    border-radius: 3px;
    padding: 5px 20px;
    text-transform: capitalize;
    color: white;
}

footer input {
    border: none;
    height: 30px;
}

footer .subcribe {
    background-color: white;
    border-radius: 10px;
    width: 400px;
    padding: 10px 20px;
    margin: auto;
}

footer .subcribe .email {
    background-color: #E6F6F3;
    padding: 10px;
    font-size: 20px;
    color: #0DA491;
}

.footer-bg {
    background: url(../img/bg-footer.jpg);
    margin-top: 40px;
    background-size: contain;
}

.footer-bg .icon {
    margin: 40px 0px;

}

.footer {
    margin-top: 30px;
    color: gray;
    font-size: 15px;
    padding-bottom: 40px;
    border-bottom: 1px dashed gray;
}

.footer .logo-contain {
    /* background-color: red; */
    padding-top: 15px;
}

.footer ul li {
    list-style-type: none;
    padding-top: 10px;
}

.footer ul {
    padding: 0px;
    margin: 0px;
}

.footer i {
    padding: 0px 5px;
}

.footer .phone {
    padding: 20px 0px;
    border-bottom: 1px dashed gray;
}

.footer-title {
    color: black;
}

.footer-last {
    margin: 30px 0px 0px 0px;
}